@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=PT+Serif&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;

  font-family: 'Gideon Roman', serif;
  display: grid;
  place-items: center;
  /* https://projects.verou.me/css3patterns/ */
  background-color:silver;
  background-image:
    radial-gradient(circle at 100% 150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, white 10%, silver 10%, silver 23%, white 23%, white 30%, silver 30%, silver 43%, white 43%, white 50%, silver 50%, silver 63%, white 63%, white 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent),
    radial-gradient(circle at 0    50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent);
  background-size: 100px 50px;
}

article {
  max-width: 50rem;
  margin: 2rem;
  box-shadow: 0 1rem 1rem 1rem rgba(0,0,0,0.2);
  border: 1px solid black;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  background-color: rgba(255,255,255, 0.8);
}

article span {
  font-style: italic;
}

article span::before {
  content: "-";
}

article i.fas {
  font-size: 4rem;
  margin-right: 1rem;
}

blockquote {
  font-size: 3rem;
  margin: 1rem;
}

section {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 1fr auto;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  height: 2.5rem;
  border: none;
  border-radius: 1rem;
  color: #fff;
  background-color: #333;
  padding: 0.5rem 1.8rem;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
}

button:hover {
  filter: brightness(130%);
}

button:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

.twitter-button:hover {
  color: #38a1f3;
}

i.fa-twitter {
  font-size: 1.5rem;
}

